<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
	
	<insert id="userInsert" parameterType="UserVO">
		INSERT INTO userInfo(usernum,userid, userpass, userpass2, username, 
			userpn, usermail, userdate)
		VALUES(#{usernum}, #{userid}, #{userpass}, #{userpass2}, #{username}, 
			#{userpn}, #{usermail}, now())
	</insert>
	
	<select id='idCheck' parameterType="UserVO" resultType="UserVO">
		SELECT * FROM userInfo
			<where>
				<if test="userid != null">
					userid = #{userid}
				</if>
				<if test="userpass != null">
					AND userpass = #{userpass}
				</if>
			</where>
	</select>
	<!-- userid=#{userid} AND userpass=#{userpass} -->
	
<!-- 	<insert id="insertUserView" parameterType="UserInfoViewVO">
		INSERT INTO uploadtemp(b_name, b_email, b_title, b_content, b_pwd, b_date, b_count
			<if test="b_fname != null">
				, b_fname, b_fsize, b_realfname
			</if>)
		VALUES(#{b_name}, #{b_email}, #{b_title}, #{b_content}, #{b_pwd}, now(), 1
			<if test="b_fname != null">
				, #{b_fname}, #{b_fsize}, #{b_realfname}
			</if>)
	</insert>
	
	<update id="updateUserView" parameterType="UserInfoViewVO">
		<![CDATA[
		UPDATE uploadtemp SET
		b_title = #{b_title},
		b_content = #{b_content}
		WHERE b_id = #{b_id}
		]]>
	</update>
	
	<delete id="deleteUserView" parameterType="UserInfoViewVO">
		DELETE FROM uploadtemp
		WHERE b_id = #{b_id}
	</delete>
	
	<select id="getUserView" resultType="UserInfoViewVO">
		<![CDATA[
		SELECT *
		FROM uploadtemp
		WHERE b_id = #{b_id}
		]]>
	</select> -->
	
</mapper>